.graph {
    width: 200px;
    border: 1px solid #000;
    background-color: #CCC;

}

.bar{
    height:10px;
    background-color: #F4661B;
}

body{
    background-color: white;
    border: dashed 3px red;
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    text-align: 2%;
}